<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Welcome {{username}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Courses</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
      {{# each myCourses}}
    <a class="dropdown-item" href="{{this.link}}">{{this.name}}</a>
      {{/each}}
    </div>
   
  </li>


      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Courses</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
      <a class="dropdown-item" href="/home/math">Math</a>
      <a class="dropdown-item" href="/home/history">History</a>
      <a class="dropdown-item" href="/home/english">English</a>
     
    </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/about">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a href="/" > Log out </a>
  </div>
</nav>

<div class="jumbotron">
  <h4 class="display-3">English</h4>
  <p class="lead">Welcome to english course ! In this course you will receive posts and do the tests about various topics of english in order to prepare yourself for the exam. If you want to subscribe to this course click on the 'Subscribe' button bellow.</p>
  <hr class="my-4">
  <p>English is a West Germanic language that was first spoken in early medieval England and is now the third most widespread native language in the world, after Standard Chinese and Spanish, as well as the most widely spoken Germanic language. Named after the Angles, one of the Germanic tribes that migrated to Great Britain, it ultimately derives its name from the Anglia (Angeln) peninsula in the Baltic Sea. It is closely related to the other West Germanic languages of Frisian, Low German/Low Saxon, German, Dutch, and Afrikaans. The English vocabulary has been significantly influenced by French (a Romance language), Norse (a North Germanic language), and by Latin</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/home/english/eng" role="button">Subscribe</a>
  </p>
</div>
