<div width="350px" height="450px" top="50%" left="50%" position="absolute">
<h2>Log in here</h2>
<form  method="POST" action="/home">
<div class="form-group">
<input type="text" class="form-control" placeholder="Enter username" name="username">    
</div>
<div class="form-group">
<input type="password" class="form-control" placeholder="Enter password" name="password">    
</div>
<p>You don't have an account?</p><a href="/register" > Create one here. </a> 
{{#if error}} <span class="alert alert-dismissible alert-danger"> {{error}} </span> {{/if}}
<div class="form-group">
<input type="submit" class="btn btn-primary" value="Log in" >
</div>
</form>
</div>